@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap');
.App{
    background-color: #111;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}